[time]
timezone = "Europe/Berlin"
input_format = "2006-01-02T15:04:05"

[broker]
host = "tcp://localhost:1883"
username = "DEIN_USERNAME"
password = "DEIN_PASSWORT"
qos = 1
client_id = "go-mqtt-sqlite"

[database]
path = "./energy.db"

[topics]
wattwaechter = "tele/WattWaechter_SENSORID/SENSOR"
tasmota = "tele/tasmota_SENSORID/SENSOR"

[features]
tasmota_power = true
solar = false

[energy]
price_per_kwh = 0.3127
