[Unit]
Description=MQTT Logger Service

[Service]
ExecStart=/home/pi/git/mqttlogger/build/mqttlogger
SyslogIdentifier=mqttlogger
WorkingDirectory=/home/pi/git/mqttlogger
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
